@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #333;
  --text-h: #000;
  --bg: #f4f1e6;
  --border: #e5e4e7;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-size: 18px;
  --line-height: 1.5;
  --letter-spacing: 0px;
  --text-align: left;

  font: var(--font-size)/var(--line-height) var(--sans);
  letter-spacing: var(--letter-spacing);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
  }
}

body {
  margin: 0;
}

/* 护眼模式（豆沙绿） */
.eye-protection {
  --bg: #f0f9e8;
  --text: #333;
  --text-h: #000;
  --border: #e6f2da;
}

/* 深色模式 */
.dark {
  --bg: #16171d;
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --border: #2e303a;
}

/* 文本显示区样式 */
pre {
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-align: var(--text-align);
  font-family: var(--sans);
  margin: 0;
}

/* 章节标题样式 */
pre h1, pre h2, pre h3, pre h4, pre h5, pre h6 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2em;
  color: var(--text-h);
}

/* 所有点击和切换动作添加平滑过渡动画 */
* {
  transition: all 0.3s ease;
}
